wsdl/LiveRequestInvoker.wsdl

<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://crcnigeria.net/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://crcnigeria.net/">
<wsdl:types>
<s:schema elementFormDefault="qualified" targetNamespace="http://crcnigeria.net/">
<s:element name="PostRequest">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="strRequest" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="strUserID" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="strPassword" type="s:string"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="PostRequestResponse">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="PostRequestResult" type="s:string"/>
</s:sequence>
</s:complexType>
</s:element>
</s:schema>
</wsdl:types>
<wsdl:message name="PostRequestSoapIn">
<wsdl:part name="parameters" element="tns:PostRequest"/>
</wsdl:message>
<wsdl:message name="PostRequestSoapOut">
<wsdl:part name="parameters" element="tns:PostRequestResponse"/>
</wsdl:message>
<wsdl:portType name="LiveRequestInvokerSoap">
<wsdl:operation name="PostRequest">
<wsdl:input message="tns:PostRequestSoapIn"/>
<wsdl:output message="tns:PostRequestSoapOut"/>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="LiveRequestInvokerSoap" type="tns:LiveRequestInvokerSoap">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="PostRequest">
<soap:operation soapAction="http://crcnigeria.net/PostRequest" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:binding name="LiveRequestInvokerSoap12" type="tns:LiveRequestInvokerSoap">
<soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="PostRequest">
<soap12:operation soapAction="http://crcnigeria.net/PostRequest" style="document"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="LiveRequestInvoker">
<wsdl:port name="LiveRequestInvokerSoap" binding="tns:LiveRequestInvokerSoap">
<soap:address location="https://webserver.creditreferencenigeria.net/LiveRequestInvoker.asmx"/>
</wsdl:port>
<wsdl:port name="LiveRequestInvokerSoap12" binding="tns:LiveRequestInvokerSoap12">
<soap12:address location="https://webserver.creditreferencenigeria.net/crcweb/LiveRequestInvoker.asmx"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>